@import '../../styles/variables.scss';

.bio {
  margin-bottom: 24px;

  .author-description {
    display: flex;
  }

  .author-image {
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 0;
    min-width: 72px;
  }

  .author-introduction {
    margin: 75px 0 100px;
    font-size: 300%;
    font-weight: lighter;
    line-height: 1.4;
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
