.toc-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .toc-container {
    display: block;
    position: sticky;
    top: 72px;
    margin-left: 100%;

    .toc-wrapper {
      position: absolute;
      left: 4rem;
      width: 320px;

      .toc-content {
        .toc-header {
          &::before {
            vertical-align: middle;
            margin-right: 8px;
          }

          margin-bottom: 2px;
          font-size: 14px;
          font-weight: 700;
        }

        .toc {
          ul {
            list-style: none;
            margin: 0px;

            &::before {
              content: '';
              position: absolute;
              left: -24px;
              top: 0;
              bottom: 0;
              width: 2px;
              background: #d8d7d7;
            }

            li {
              a.focus {
                &::before {
                  content: '';
                  position: absolute;
                  left: -24px;
                  height: 28px;
                  width: 2px;
                  background: #4361ee;
                }
              }
            }
          }
        }
      }
    }
  }

  body.light {
    .toc-header {
      &::before {
        content: url('../../../content/assets/toc-black.svg');
      }
    }
  }

  body.dark {
    .toc-header {
      &::before {
        content: url('../../../content/assets/toc-white.svg');
      }
    }
  }
}
