@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/PretendardVariable.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/JetBrainsMono.woff2) format('woff2-variations');
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  pre[class*='language-'] {
    @apply rounded-xl;
  }

  pre[class*='language-'] * {
    @apply font-mono;
  }
}
