@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: optional;
  src: url(/fonts/PretendardVariable.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 45 920;
  font-style: normal;
  font-display: optional;
  src: url(/fonts/JetBrainsMono.woff2) format('woff2-variations');
}

@layer base {
  body {
    @apply font-sans;
  }

  pre[class*='language-'] {
    @apply my-4 rounded-lg;
  }

  code[class*='language-'] {
    @apply font-mono;
  }
}

@layer components {
  .box {
    @apply rounded-lg bg-light-background dark:bg-dark-background;
  }

  .link {
    @apply text-light-link dark:text-dark-link;
  }

  .mute {
    @apply text-light-mute dark:text-dark-mute;
  }
}
