body.light {
  background-color: $light-background-color;
  color: $light-dark-font-color;

  // home
  .home-header {
    color: $dark-gray;

    &:hover {
      a {
        color: $dark-gray;
      }
    }
  }

  .bio {
    .author-introduction {
      color: $dark-gray;
    }
    a {
      color: $light-link-color;
    }
  }

  .category-container {
    background-color: $light-category-background-color;
    border-radius: 8px;
    .item {
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        background-color: rgba(13, 12, 34, 0.05);
        border-radius: 8px;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-gray;
      &:hover {
        color: $thumbnail-text-color;
        transition: 0.3s ease;
      }
    }
    p {
      color: $middle-gray;
    }
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }

  // toc
  .toc {
    ul {
      li {
        a {
          color: $toc-text-color;

          &:hover {
            background: $toc-hover-background-color;
          }

          &.focus {
            color: $toc-focus-text-color;
          }
        }
      }
    }
  }

  // tag
  .tag-content-container {
    h1 {
      color: $dark-gray;
    }
  }
}
