.resume {
  font-size: 16px;

  h1,
  h2,
  h3 {
    border: none;
    margin: 20px 0;

    &::after {
      content: '.';
      color: #4361ee;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
  }

  p,
  li {
    // font-size: 18px;
    font-size: 1.125em;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    // font-size: 48px;
    font-size: 3em;
    font-weight: 800;
  }

  h3 {
    // font-size: 32px;
    font-size: 2em;
    font-weight: 700;
  }

  h4 {
    // font-size: 20px;
    font-size: 1.25em;
    font-weight: 700;
  }

  ul {
    margin: 0px;

    li {
      list-style: none;

      &::before {
        content: '•';
        color: #4361ee;
        margin-right: 8px;
      }
    }
  }

  img {
    height: 32px;
    margin: 0px;
  }

  hr {
    margin: 40px 0;
    border-bottom: solid 1px #eee;
    height: 0px;
  }
}

@media (max-width: 640px) {
  .resume {
    font-size: 12px;

    img {
      height: 24px;
    }
  }
}
